@font-face {
    font-family: 'CrayonCrumble';
    src: url('../fonts/CrayonCrumble.ttf');
    font-stretch: expanded;
}

.gameBoard {
	font-family: "CrayonCrumble";
	text-align: center;
	vertical-align: middle;
	color: white;
	font-size: 64px;
}

.outer{
	display: table;
	position: absolute; 
	height: 100%; 
	width: 100%;
}

.middle{
	display: table-cell; 
	vertical-align: middle;
}

.inner{
	text-align: center;
	font-family: "CrayonCrumble";
	color: white;
	font-size: 80px;
	margin-left: auto; 
	margin-right: auto;
}

a.button {
    text-decoration: none;
    color: white;
}

body {
	background-image: url('../images/Background.jpg');
}